.delete-btn {
    text-decoration: none;
    color: antiquewhite;
   background-color: red;
    box-shadow: black;
    font-family: 'Poppins';
    width: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
.edit-btn {
    text-decoration: none;
    color: antiquewhite;
    background-color: #24d1fb;
    box-shadow: black;
    font-family: 'Poppins';
    width: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
.add-btn {
    text-decoration: none;
    color: antiquewhite;
    background-color: #24d1fb;
    box-shadow: black;
    font-family: 'Poppins';
    width: 20px;
    padding: 5px 10px;
    border-radius: 10px;
}
.container {
    margin: 0;
    padding: 0;
}
.table-container {
    width: 80%;
    max-width: 1000px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #333;
    font-size: 14px;
}

td:nth-child(3) {
    color: #888;
}